* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #222327;
}

.nav {
    position: relative;
    width: 400px;
    height: 60px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.nav ul {
    display: flex;
    width: 350px;
}

.nav ul li {
    height: 60px;
    flex: 1;
    position: relative;
    list-style: none;
    z-index: 2;
    display: flex;
    justify-content: center;
}

.nav ul li span {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.5s;
    transition-delay: 0s;
}

.nav ul li span i {
    color: #222327;
    font-size: 1.5em;
}

.nav ul li.active span {
    background-color: orange;
    transform: translateY(-27px);
    transition-delay: 0.25s;
}

.nav ul li.active span i {
    color: #fff;
}

.nav ul li span::before {
    content: "";
    position: absolute;
    top: 10px;
    left: 0;
    width: 100%;
    height: 100%;
    background: orange;
    border-radius: 50%;
    filter: blur(5px);
    opacity: 0;
    transition: 0.5s;
    transition-delay: 0.25s;
}

.nav ul li.active span::before {
    opacity: 0.5;
    transition-delay: 0.25s;
}

.indicator {
    position: absolute;
    top: -35px;
    width: 70px;
    height: 70px;
    background: #fff;
    border-radius: 50%;
    z-index: 1;
    transition: 0.5s;
}

.indicator::before {
    content: "";
    position: absolute;
    top: 5px;
    left: -28px;
    width: 30px;
    height: 30px;
    background: transparent;
    border-radius: 50%;
    box-shadow: 15px 18px #fff;
}

.indicator::after {
    content: "";
    position: absolute;
    top: 5px;
    right: -28px;
    width: 30px;
    height: 30px;
    background: transparent;
    border-radius: 50%;
    box-shadow: -15px 18px #fff;
}

.nav li:nth-child(1).active~.indicator {
    transform: translateX(calc(70px * 0));
}
.nav li:nth-child(2).active~.indicator {
    transform: translateX(calc(70px * 1));
}
.nav li:nth-child(3).active~.indicator {
    transform: translateX(calc(70px * 2));
}
.nav li:nth-child(4).active~.indicator {
    transform: translateX(calc(70px * 3));
}
.nav li:nth-child(5).active~.indicator {
    transform: translateX(calc(70px * 4));
}

.nav ul li.active span {
    background: var(--clr);
}
.nav ul li span::before {
    background: var(--clr);
}